<div class="container-fluid">
  <div class="row-fluid d-flex flex-row mt-5">
    <div class="col-1"></div>
    <div class="col-11">
      <div class="row-fluid title"><h1>About</h1></div>
      <div class="row-fluid title-content">A dedicated and experienced professional with a diverse background in both industrial leadership and software development. With 12 years of experience in the metalworking industry, including 7 years as a production line leader, I have honed my skills in management and operational efficiency. Seeking a new challenge, I transitioned into software development, specializing in web development, both front-end and back-end. With a strong educational foundation including a degree and postgraduate studies in technology, I have leveraged my passion for technology to excel in this dynamic field.</div>
    </div>
  </div>
  <div class="row-fluid d-flex flex-row mt-3">
    <div class="col-1"></div>
    <div class="col-3"><img style="width: 100%;" src="../../assets/me4.jpeg" alt=""></div>
    <div class="col-7 m-lg-3">
      <h1>Software Engineer</h1>
      <p>As an engineer I develop front-end and back-end software</p>
      <table class="table table-borderless table">
        <tbody class="table-group-divider">
          <tr>
            <td class="dot">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
              <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            </td>
            <td><b>Birthday:</b> January 1, 1989</td>
            <td class="dot">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
              <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            <td><b>Age:</b> {{year-1989}}</td>
          </tr>
          <tr>
            <td class="dot">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
              <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            <td><b>Website:</b><a href="https://google.com" class="href"> google.com</a></td>
            <td class="dot">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
              <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            <td><b>Degree:</b> Postgraduate</td>
          </tr>
          <tr>
            <td class="dot">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
              <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            <td><b>Phone:</b> +55 49 98888-2906</td>
            <td class="dot">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
              <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            <td><b>Email:</b> {{email}}</td>
          </tr>
          <tr>
            <td class="dot">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
              <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            <td><b>City:</b> Mondaí, Brazil</td>
            <td class="dot">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
              <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            <td><b>Freelance:</b> Not available</td>
          </tr>
        </tbody>
      </table>
      <p>Passionate about technology, with a strong interest in software development and emerging technologies. Committed to personal and professional growth, and dedicated to creating a positive impact through technological innovation.</p>
    </div>
  </div>
  <div class="row-fluid d-flex mt-5">
    <div class="col-1"></div>
    <div class="col-11">
      <div class="row-fluid"><h1>Facts</h1></div>
      <div class="row-fluid">
        <p>In my postgraduate scientific article I showed that it is possible to generate a certain level of information during data collection, even before data normalization, as a result I scored 9.3 out of a total of 10, towards the completion of my course.</p>
      </div>
    </div>
  </div>
</div>
