@media (max-width: 786px) {
  .side-bar {
    display: none !important;
  }

  .home {
    width: 100% !important;
  }
}

.circle-img {
  background-image: url(../assets/me.jpeg);
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px auto;
}

.span {
  position: absolute;
  margin-top: -1px;
  margin-left: 10px;
}

.span:hover {
  scale: 1.1;
  color: cornflowerblue !important;
}

.span:active {
  scale: .99;
}

.side-bar{
  z-index: 15;
}

.whitebg {
  background-color: whitesmoke !important;
}
