.audio {
  display: none;
}

@media (max-width: 1000px) {
  .side-bar {
    display: none !important;
  }

  .home {
    width: 100% !important;
  }

  .mobile {
    width: 100vw !important;
  }

}

@media (max-width: 1350px) and (min-width: 999px) {

  .span {
    font-size: 16px !important;
    text-align: start;
  }

  .side-bar svg {
    width: 30px !important;
  }

}

.circle-img {
  background-image: url(../assets/me.jpeg);
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px auto;
}

.span {
  align-self: center;
  margin-left: 10px;
}

.span:hover {
  scale: 1.1;
  color: cornflowerblue !important;
}

.item-menu:hover svg {
  fill: rgb(100, 149, 237) !important;
}

.span:active {
  scale: .99;
}

.side-bar{
  z-index: 15;
  flex-direction: column;
  align-items: center;
}

.item-menu {
  margin-left: 40%;
}

.whitebg {
  background-color: whitesmoke !important;
}

#selected svg {
  fill: cornflowerblue !important;
}


#selected .span {
  color: cornflowerblue !important;
}
